.contenedorCuerpo{
    transition: transform 0.3s ease-in-out;

}

.contenedorCuerpo:hover {
    transform: scale(1.1);
    box-shadow: 0 -10px 10px -5px #867b9c, 0 10px 10px -5px #867b9c;
}

.imagen{
    width: 100%;
}
.titulos {
    color: #646d8a;
}

.fondo {
    background-color: #d095ac50;
}