@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.cabecera{

    background-color: #364f59;
    color: white;
}
.tituloMarcaPersonal{
    text-align: center;
    padding: 20px;
    color: #f59432;
    font-size: 25px;

    font-family: "Open Sans", serif;
    font-weight: 600;
    font-style: normal;
   

}