.activado {
    background-color: #ac87a8; 
    color: white;
  }
  
  .desactivado {
    background-color: #f1f1f1; 
    color: black;
  }
  
  button {
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #ddd;
  }
  li{
    list-style: none;
    display: inline;    
  }
.activado:hover{
    background-color: #801b75;
}