.imagenesBanderas {
    height: 20px;
    width: auto; /* Mantiene la proporción de la imagen */
}

.boton {
    padding: 0; 
    border: none; 
    background: none; 
    margin: 5px; 
    cursor: pointer; 
    display: inline-flex; 
    align-items: center; 
}
